@charset "utf-8";
/* CSS Document */
body, p, span, iframe, h1, h2, h3, h4, h5, h6, dl, dt, dd,ul, ol, li, form, label,input{ margin:0; padding:0; font-family: Tahoma, "宋体";}
.top_bg{ background:url(../images/top_bg.png) repeat-x; width:100%; height:82px;}
img{ border:0px;}
li{ list-style:none;}
.f_l{ float:left;}
.f_r{ float:right;}
body{ overflow-x:hidden;}
.contact_ico{ background:url(../images/contact_ico.gif) no-repeat left 3px; height:18px; padding-left:20px; color:#666;}
.cp_ico{ background:url(../images/zp_ico.gif) no-repeat; height:18px; padding-left:20px; font-size:12px;}
.head_nav {color:#666;height:18px;}
.f_r span a{color:#666; font-size:12px; text-decoration:none; margin-right:10px; margin-top:10px;}
.f_r span a:hover{ text-decoration:underline;}
.main_wrap{ width:1000px; margin:0 auto;}
.logo{ margin-top:10px;}
.right_top{ margin-top:5px;}
.nav{ background:url(../images/nav_bg.gif) repeat-x; height:41px; width:100%; border:1px solid #e6e6e6;}
.nav_list li{ float:left; line-height:41px;}
.nav_list li a{ padding:0 30px; font-family:"微软雅黑","宋体"; color:#666; text-decoration:none; display:block;}
.nav_list li.on a{ background:url(../images/nav_hover.gif) repeat-x; height:41px; display:block; color:#fff;}
.search{ width:180px; height:48px;}
.search_input{ background:url(../images/search_bg.gif) no-repeat left top; width:142px; height:24px; border:0px; padding-left:3px; float:left; color:#666;}
.search_input:hover{ background:url(../images/search_bg.gif) no-repeat left bottom; width:142px; height:24px; border:0px; padding-left:3px; float:left; color:#666;}
.search_btn{ background:url(../images/index_11.gif) no-repeat left top; width:31px; height:24px; border:0px; float:left;}
.search_btn:hover{ background:url(../images/index_11.gif) no-repeat left bottom; width:31px; height:24px; border:0px; float:left;}
.gs_main{ clear:both;}
.main_bg{ background:url(../images/main_bg.gif) repeat-x; width:200px; border:1px solid #d8d8d8; float:left; margin-left:10px;margin-bottom: 10px;}
.index_banner {height: 348px; margin: 0 auto; padding: 5px 0 12px;width: 1000px;}
.main_bg{ padding:10px;overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;}
.main_bg ul{ width:460px; margin:0 auto; overflow:hidden;}
.main_bg h2{ font-size:16px; color:#1f4da0; font-weight:bold; text-align:center;}
.main_bg p{ font-family:"微软雅黑","宋体"; font-size:12px; margin-top:10px; line-height:20px; clear:both;}
.main_bg p.detail_txt{ margin-top:30px; text-indent:2em;}
.link_txt{ float:right; text-decoration:none; font-size:12px; color:#1f4da0;}
.link_txt:hover{ text-decoration:underline;}
.main_bg ul li{ width:100px; float:left; border-right:1px solid #c6c6c6; margin-top:30px; padding:0 20px; margin-left:10px;}
.main_bg ul li p{ text-align:center; margin-top:10px;}
.main_bg ul li p a{ color:#1f4da0;}
.contact_txt p{margin:0px;}
.contact_txt{ margin-top:30px;}
.footer {width: 1200px;  margin: 70px auto 10px auto;border-top:1px solid #d8d8d8;text-align : center;}
.footer span {margin-right:10px;line-height: 60px;font-family: "微软雅黑","宋体";  font-size: 12px; }
.footer span a {text-decoration: none;color:#666}
.clear_both {clear: both}